body{
    height: 100%;
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
    color: #000000;
}
a:hover{
    text-decoration: none;
}
.blog-top{
    background:#fff;
}
.top-box{
    width: 60%;
    margin: 0 auto;
    height: 65px;
    display: block;
}
.top-box li{
    float: left;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 20px;
}
.top-head{
    background:#F7F7F7;
    height: 150px;
}
.title-area {
    font-weight: 700;
    padding: 16px 0;
    text-align: center;
}
.site-description {
    color: #606060;
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}
.middle-box{
    margin:0 15px;
    padding: 20px 15px;
    overflow: auto;
}
.right-time{
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding: .618em 1em;
    line-height: 24px;
    max-width: 100%;
    border-radius: 3px
}
.mp20{
    margin-top: 20px;
}
.tags {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.tags li {
    float: left;
}
.tags li a {
    padding: 3px 15px;
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(221, 221, 221);
}
.entry-header .entry-meta {
    margin-bottom: 24px;
}
.entry-meta {
    clear: both;
    color: #666;
    font-size: 14px;
}
.entry-summary img {
    margin-bottom: 24px;
}
.list-group-item{
    padding: 20px 15px;
    border-left:none;
    border-right: none;
}
.list-group-item:first-child{
    border-top: none;
}
.mt10{
    margin-bottom: 10px;
}
.badge {
    color:#000;
    font-weight: 400;
    padding:5px 15px;
    background-color:#fff;
    border:none;
    border-radius:0px;
}
.ml15{
    margin-left: 15px;
}
.box {
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
    padding: 20px;
}
.box .heading {
    padding: 5px;
    text-align: center;
}
.box .content ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}
.box .content ul li {
    border-bottom: 1px solid #E1E1E1;
    padding: 5px;
}
.box .heading h2 {
    display: inline;
    padding: 0 10px;
}
.content ul li{
    text-align: left;
}
.tp{
    width:200px;
    height:auto;
}
.activity{
    background-color: #fd8900;
}
